In [254]:
import requests
from lxml import html
from bs4 import BeautifulSoup
import pandas as pd
from urllib.request import Request, urlopen

from urllib.parse import urlencode, quote_plus, unquote

## 순수 url은 쿼리스트링 전까지만



API_Key = "AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D" ## API key
url = "http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev" ##순수 url
queryParams = '?' + urlencode(
    {
        quote_plus('ServiceKey') : API_Key,
        quote_plus('LAWD_CD'): '11110',
        quote_plus('DEAL_YMD'): '201512'
}
)
response = requests.get("http://openapi.molit.go.kr/OpenAPI_ToolInstallPackage/service/rest/RTMSOBJSvc/getRTMSDataSvcAptTradeDev?serviceKey=AT33s775KYpJOkUBJu0dxkJuUeIfDIOJRzAH084EQS3JN%2BzFjErLHuk%2FGZa9L4gBTSGCzeA69tI9PwLp7B37IQ%3D%3D&pageNo=1&numOfRows=10&LAWD_CD=11110&DEAL_YMD=201512")
response.encoding='utf-8'
## BeautifulSoup로 lxml-xml 구조로 다시 불러들임
xmlobj = BeautifulSoup(response.text,"lxml-xml")

ValueError: Length mismatch: Expected axis has 26 elements, new values have 52 elements

In [258]:
columnList = []
columnNameList = []
rowList = []

In [236]:
len(rows)

10

In [235]:
len(columns)

26

In [259]:
for j in range (0, len(rows)):
    eachrow = rows[j] 
    columns = eachrow.find_all()

    for i in range (0, len(columns)):
            eachColumn = columns[i]
            if j ==0:   
                columnNameList.append(eachColumn.name)

            eachColumnValue = eachColumn.text
            columnList.append(eachColumnValue)

    rowList.append(columnList)
    columnList=[]

In [260]:
indata = pd.DataFrame(rowList)

indata.columns = columnNameList

indata

,거래금액,건축년도,년,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,도로명코드,...,아파트,월,일,일련번호,전용면적,지번,지역코드,층,해제사유발생일,해제여부
0,"82,500",2008,2015,사직로8길,00004,00000,11110,03,0,4100135,...,광화문풍림스페이스본(101동~105동),12,10,11110-2203,94.51,9,11110,11,,
1,"60,000",1981,2015,세종대로23길,00047,00000,11110,02,0,4100190,...,롯데미도파광화문빌딩,12,22,11110-12,149.95,145,11110,8,,
2,"130,000",2004,2015,경희궁2길,00005,00005,11110,01,0,4100005,...,킹스매너,12,8,11110-118,194.43,110-15,11110,6,,
3,"105,000",2004,2015,사직로8길,00024,00000,11110,05,0,4100135,...,경희궁의아침2단지,12,14,11110-115,124.17,71,11110,8,,
4,"120,000",2003,2015,사직로8길,00020,00000,11110,05,0,4100135,...,경희궁 파크팰리스,12,24,11110-107,146.33,95,11110,4,,
5,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,17,11110-2359,16.98,195-10,11110,8,,
6,"17,000",2014,2015,대학로,00047,00000,11110,05,0,3100002,...,이화에수풀,12,18,11110-2359,16.98,195-10,11110,4,,
7,"57,000",2006,2015,혜화로3가길,00030,00000,11110,01,0,4100544,...,렉스빌,12,29,11110-973,106.98,19,11110,3,,
8,"44,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,1,11110-25,84.8,4,11110,18,,
9,"52,000",1995,2015,창경궁로,00265,00000,11110,07,0,3005008,...,아남1,12,10,11110-25,84.9,4,11110,12,,

In [99]:
## 컬럼은 완성을 했으니 해당 컬럼에 들어갈 값들을 넣어주자.
## 0번째 row(행의) 텍스트를 컬럼리스트 하위에 넣어주면 될듯.

In [106]:
for i in range(0, len(column)):


 
    eachcolumn = columns[i]

    columnName = column[i].name

    columNameList.append(columnName)
    
    rowList.append(columNameList)

NameError: name 'columns' is not defined

In [101]:
rowList