In [30]:
import pandas as pd

In [31]:
joindata1 = pd.read_csv("../dataset/joindata1.csv")

In [32]:
joindata1

,mata_tin,mata_txpr_sex_cd,mate_mdf_yn,mate_srcs_cntn,mem_rit_cd,rit_end_dt,rit_strt_dt,suta_tin,suta_txpr_sex_cd
0,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2
1,154102000000,3,Y,대법원가족관계,1,99991231,20190107,153460000000,1
2,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154202000000,2
3,155000000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2
4,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153603000000,2
5,100026000000,3,Y,대법원가족관계,1,99991231,20190107,153103000000,1
6,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2
7,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153202000000,2
8,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153302000000,2
9,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154802000000,2

In [38]:
joindata2 = pd.read_csv("../dataset/joindata2.csv",  encoding='cp949')

In [39]:
joindata2

,mata_tin,mate_srcs_cntn,rit_end_dt,rit_strt_dt,suta_tin,txpr_rlt_cd
0,153101000000,납세자관계,99991231,10101,153403000000,22
1,153101000000,납세자관계,99991231,10101,154201000000,22
2,153101000000,납세자관계,99991231,10101,154601000000,30
3,153101000000,납세자관계,99991231,10101,154702000000,22
4,153101000000,납세자관계,99991231,10101,153403000000,32
5,153101000000,납세자관계,20161113,20160523,153201000000,30
6,153101000000,납세자관계,99991231,10101,153501000000,22
7,153101000000,납세자관계,99991231,10101,153101000000,32
8,153101000000,납세자관계,99991231,10101,153901000000,32
9,153101000000,납세자관계,20180926,20170802,154401000000,30

In [52]:
mergedData = pd.merge(left=joindata1,
         right=joindata2,
         on="suta_tin",
         how="inner")

## suta_tin 이 같은것만 뽑자

In [53]:
mergedData

,mata_tin_x,mata_txpr_sex_cd,mate_mdf_yn,mate_srcs_cntn_x,mem_rit_cd,rit_end_dt_x,rit_strt_dt_x,suta_tin,suta_txpr_sex_cd,mata_tin_y,mate_srcs_cntn_y,rit_end_dt_y,rit_strt_dt_y,txpr_rlt_cd
0,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,153101000000,납세자관계,99991231,10101,22
1,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,153101000000,납세자관계,99991231,10101,32

In [54]:
mergedData["new_suta_in"] = mergedData.suta_tin

In [63]:
mergedData.rename(columns = {'mata_tin_x' : 'mata_tin'}, inplace = True)

In [66]:
finalData = pd.merge(left=joindata1,
         right=mergedData,
         on="mata_tin",
         how="left")

In [67]:
finalData

,mata_tin,mata_txpr_sex_cd_x,mate_mdf_yn_x,mate_srcs_cntn,mem_rit_cd_x,rit_end_dt,rit_strt_dt,suta_tin_x,suta_txpr_sex_cd_x,mata_txpr_sex_cd_y,...,rit_end_dt_x,rit_strt_dt_x,suta_tin_y,suta_txpr_sex_cd_y,mata_tin_y,mate_srcs_cntn_y,rit_end_dt_y,rit_strt_dt_y,txpr_rlt_cd,new_suta_in
0,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,3.0,...,99991231.0,20190107.0,1.534030e+11,2.0,1.531010e+11,납세자관계,99991231.0,10101.0,22.0,1.534030e+11
1,153601000000,3,Y,대법원가족관계,2,99991231,20190107,153403000000,2,3.0,...,99991231.0,20190107.0,1.534030e+11,2.0,1.531010e+11,납세자관계,99991231.0,10101.0,32.0,1.534030e+11
2,154102000000,3,Y,대법원가족관계,1,99991231,20190107,153460000000,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154202000000,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,155000000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153603000000,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,100026000000,3,Y,대법원가족관계,1,99991231,20190107,153103000000,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154302000000,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153202000000,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,153500000000,3,Y,대법원가족관계,2,99991231,20190107,153302000000,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,153500000000,3,Y,대법원가족관계,2,99991231,20190107,154802000000,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN