### 프로젝트 기간이 짧거나 업체가 공격적으로 투자하지 않을 때 머신러닝!

## 라이브러리 정의

In [1]:
import pandas as pd
import numpy as np

In [2]:
## graphviz.. tree 보기 위해 import
from sklearn.tree import export_graphviz

In [3]:
# 분석알고리즘 DecisionTree 구현 라이브러리. 싸이킷런.
from sklearn.tree import DecisionTreeRegressor # 설명력이 뛰어남
# RandomForestRegressor 구현 라이브러리.
from sklearn.ensemble import RandomForestRegressor

In [4]:
# 과거데이터를 8:2, 7:3 으로 자동으로 나누어주는 함수
from sklearn.model_selection import train_test_split

In [5]:
# 라벨인코더 -> 문자를 숫자로 맵핑시켜준다. 두개는 0,1 세게는 0, 1, 2 네개는 0, 1 ,2 ,3
from sklearn.preprocessing import LabelEncoder

In [6]:
## 정확도 지표들
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

## 데이터 불러오기

In [7]:
featuresData = pd.read_csv("../dataset/feature_regression_example.csv")

In [8]:
featuresData.head

<bound method NDFrame.head of            REGIONID PRODUCTGROUP      PRODUCT      ITEM  YEARWEEK  YEAR  WEEK  \
0    SEOUL_BANK_001         PG02  PRODUCT0010  ITEM0115    201501  2015     1
1    SEOUL_BANK_001         PG02  PRODUCT0010  ITEM0115    201502  2015     2
2    SEOUL_BANK_001         PG02  PRODUCT0010  ITEM0115    201503  2015     3
3    SEOUL_BANK_001         PG02  PRODUCT0010  ITEM0115    201504  2015     4
4    SEOUL_BANK_001         PG02  PRODUCT0010  ITEM0115    201505  2015     5
..              ...          ...          ...       ...       ...   ...   ...
100  SEOUL_BANK_001         PG02  PRODUCT0010  ITEM0115    201648  2016    48
101  SEOUL_BANK_001         PG02  PRODUCT0010  ITEM0115    201649  2016    49
102  SEOUL_BANK_001         PG02  PRODUCT0010  ITEM0115    201650  2016    50
103  SEOUL_BANK_001         PG02  PRODUCT0010  ITEM0115    201651  2016    51
104  SEOUL_BANK_001         PG02  PRODUCT0010  ITEM0115    201652  2016    52

      QTY HOLIDAY  HCLUS PROMOTION  PRO_PERCENT
0    1225       Y      1         Y     0.209442
1     968       N      4         Y     0.209442
2    1209       N      4         Y     0.208155
3    1810       Y      2         Y     0.208155
4    1773       N      4         Y     0.208155
..    ...     ...    ...       ...          ...
100  2412       Y      0         Y     0.421888
101  1955       N      4         Y     0.421888
102  1800       N      4         Y     0.352361
103  1173       N      4         Y     0.352361
104   332       Y      1         Y     0.352361

[105 rows x 12 columns]>

## 1. 데이터 전처리

### 1-1. 타입 통합 / 특정 숫자컬럼 추가


#### 1-1-1. 데이터 타입 통합

In [9]:
# feturesData.info()

In [10]:
# 주의할 사항은 모든 컬럼에 대해서 고정시키는걸 고려하는게 나을수도 있다.
featuresData.QTY = featuresData.QTY.astype(float)

#### 1-1-2. 특정 값 숫자컬럼 변경

### 이유 : 머신러닝 특성은 숫자형 지원. 특정 값은 숫자연산이 필요하기 때문에 숫자 형태로 변경 해야 한다.. 
   ###  - 해결 : Y -> 1, N -> 0 같이 변환

In [11]:
featuresData

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225.0,Y,1,Y,0.209442
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968.0,N,4,Y,0.209442
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209.0,N,4,Y,0.208155
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810.0,Y,2,Y,0.208155
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773.0,N,4,Y,0.208155
...,...,...,...,...,...,...,...,...,...,...,...,...
100,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412.0,Y,0,Y,0.421888
101,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955.0,N,4,Y,0.421888
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800.0,N,4,Y,0.352361
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173.0,N,4,Y,0.352361
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332.0,Y,1,Y,0.352361

In [12]:
## LOC, NP.WHERE FUNCTION 이용하거나
featuresData["HOLIDAY_NEW"] = np.where(featuresData.HOLIDAY == "Y", 1,0)
featuresData

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HOLIDAY_NEW
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225.0,Y,1,Y,0.209442,1
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968.0,N,4,Y,0.209442,0
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209.0,N,4,Y,0.208155,0
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810.0,Y,2,Y,0.208155,1
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773.0,N,4,Y,0.208155,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412.0,Y,0,Y,0.421888,1
101,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955.0,N,4,Y,0.421888,0
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800.0,N,4,Y,0.352361,0
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173.0,N,4,Y,0.352361,0
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332.0,Y,1,Y,0.352361,1

In [13]:
## 이런식으로 Y, N 을 변환할 수 있따.
pd.DataFrame( featuresData.HOLIDAY.drop_duplicates() ).reset_index().rename(columns = {"index" : "HOLIDAY_NEW"})

   HOLIDAY_NEW HOLIDAY
0            0       Y
1            1       N

In [14]:
featuresData

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HOLIDAY_NEW
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225.0,Y,1,Y,0.209442,1
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968.0,N,4,Y,0.209442,0
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209.0,N,4,Y,0.208155,0
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810.0,Y,2,Y,0.208155,1
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773.0,N,4,Y,0.208155,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412.0,Y,0,Y,0.421888,1
101,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955.0,N,4,Y,0.421888,0
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800.0,N,4,Y,0.352361,0
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173.0,N,4,Y,0.352361,0
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332.0,Y,1,Y,0.352361,1

In [15]:
## labelencoder 이용, 알아서 변환해준다.

## 라벨인코더 인스턴스 만들고
holiEn = LabelEncoder()

## 변환 실행
featuresData["HOLIDAY_LABEL_EN"] = holiEn.fit_transform(featuresData.HOLIDAY)

In [16]:
## 다시 돌리기
featuresData["HOLIDAY_DE"] = holiEn.inverse_transform(featuresData.HOLIDAY_LABEL_EN)

In [17]:
## 두 컬럼값이 당연히 같아야 한다.
featuresData.loc[featuresData.HOLIDAY != featuresData.HOLIDAY_DE]

Empty DataFrame
Columns: [REGIONID, PRODUCTGROUP, PRODUCT, ITEM, YEARWEEK, YEAR, WEEK, QTY, HOLIDAY, HCLUS, PROMOTION, PRO_PERCENT, HOLIDAY_NEW, HOLIDAY_LABEL_EN, HOLIDAY_DE]
Index: []

In [18]:
## PROMOTION도 변환.
featuresData["PROMOTION_NEW"] = np.where(featuresData.PROMOTION == "Y", 1,0)

In [19]:
featuresData

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HOLIDAY_NEW,HOLIDAY_LABEL_EN,HOLIDAY_DE,PROMOTION_NEW
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225.0,Y,1,Y,0.209442,1,1,Y,1
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968.0,N,4,Y,0.209442,0,0,N,1
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209.0,N,4,Y,0.208155,0,0,N,1
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810.0,Y,2,Y,0.208155,1,1,Y,1
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773.0,N,4,Y,0.208155,0,0,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412.0,Y,0,Y,0.421888,1,1,Y,1
101,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955.0,N,4,Y,0.421888,0,0,N,1
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800.0,N,4,Y,0.352361,0,0,N,1
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173.0,N,4,Y,0.352361,0,0,N,1
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332.0,Y,1,Y,0.352361,1,1,Y,1

### 1-2. 특성 선정 / 데이터 분리

#### 특성 선정
##### 이유 : 학습시킬 특성을 정의
##### 해결 : 상관관계로 확인 후 (holiday, promotion) 적용

#### 상관관계 확인 corr(). 뚜렷한 양, 음적 상관관계는 재료로 쓰기 적합하다. 절대값 0.3 ~ 0.7, 0.7 ~ 1.0

### 요악하자면,  qty랑 휴일, 홍보 유무의 상관관계를 파악

In [20]:
featuresData.corr()

,YEARWEEK,YEAR,WEEK,QTY,HCLUS,PRO_PERCENT,HOLIDAY_NEW,HOLIDAY_LABEL_EN,PROMOTION_NEW
YEARWEEK,1.000000,0.956598,0.275593,0.112267,-0.071586,0.404889,0.049867,0.049867,0.205916
YEAR,0.956598,1.000000,-0.016493,0.028931,0.028593,0.321193,-0.031106,-0.031106,0.195931
WEEK,0.275593,-0.016493,1.000000,0.289766,-0.339943,0.329705,0.273710,0.273710,0.060206
QTY,0.112267,0.028931,0.289766,1.000000,-0.537230,0.700195,0.505932,0.505932,0.612451
HCLUS,-0.071586,0.028593,-0.339943,-0.537230,1.000000,-0.545619,-0.974601,-0.974601,-0.374072
PRO_PERCENT,0.404889,0.321193,0.329705,0.700195,-0.545619,1.000000,0.487062,0.487062,0.898554
HOLIDAY_NEW,0.049867,-0.031106,0.273710,0.505932,-0.974601,0.487062,1.000000,1.000000,0.365148
HOLIDAY_LABEL_EN,0.049867,-0.031106,0.273710,0.505932,-0.974601,0.487062,1.000000,1.000000,0.365148
PROMOTION_NEW,0.205916,0.195931,0.060206,0.612451,-0.374072,0.898554,0.365148,0.365148,1.000000

In [21]:
corrDf = featuresData.corr()

In [22]:
corrDf

,YEARWEEK,YEAR,WEEK,QTY,HCLUS,PRO_PERCENT,HOLIDAY_NEW,HOLIDAY_LABEL_EN,PROMOTION_NEW
YEARWEEK,1.000000,0.956598,0.275593,0.112267,-0.071586,0.404889,0.049867,0.049867,0.205916
YEAR,0.956598,1.000000,-0.016493,0.028931,0.028593,0.321193,-0.031106,-0.031106,0.195931
WEEK,0.275593,-0.016493,1.000000,0.289766,-0.339943,0.329705,0.273710,0.273710,0.060206
QTY,0.112267,0.028931,0.289766,1.000000,-0.537230,0.700195,0.505932,0.505932,0.612451
HCLUS,-0.071586,0.028593,-0.339943,-0.537230,1.000000,-0.545619,-0.974601,-0.974601,-0.374072
PRO_PERCENT,0.404889,0.321193,0.329705,0.700195,-0.545619,1.000000,0.487062,0.487062,0.898554
HOLIDAY_NEW,0.049867,-0.031106,0.273710,0.505932,-0.974601,0.487062,1.000000,1.000000,0.365148
HOLIDAY_LABEL_EN,0.049867,-0.031106,0.273710,0.505932,-0.974601,0.487062,1.000000,1.000000,0.365148
PROMOTION_NEW,0.205916,0.195931,0.060206,0.612451,-0.374072,0.898554,0.365148,0.365148,1.000000

## 상관관계 계수 비율 선정.. 0.5 초과 1 미만인 경우만 고려하겠다.

In [23]:
standardLimit = 0.5

In [24]:
corrDf.loc[ ( abs( corrDf.QTY ) > standardLimit ) & ( abs( corrDf.QTY ) != 1)]

,YEARWEEK,YEAR,WEEK,QTY,HCLUS,PRO_PERCENT,HOLIDAY_NEW,HOLIDAY_LABEL_EN,PROMOTION_NEW
HCLUS,-0.071586,0.028593,-0.339943,-0.537230,1.000000,-0.545619,-0.974601,-0.974601,-0.374072
PRO_PERCENT,0.404889,0.321193,0.329705,0.700195,-0.545619,1.000000,0.487062,0.487062,0.898554
HOLIDAY_NEW,0.049867,-0.031106,0.273710,0.505932,-0.974601,0.487062,1.000000,1.000000,0.365148
HOLIDAY_LABEL_EN,0.049867,-0.031106,0.273710,0.505932,-0.974601,0.487062,1.000000,1.000000,0.365148
PROMOTION_NEW,0.205916,0.195931,0.060206,0.612451,-0.374072,0.898554,0.365148,0.365148,1.000000

In [25]:
corrDf.loc[abs(corrDf.QTY) > standardLimit] ## qty = 판매량.

,YEARWEEK,YEAR,WEEK,QTY,HCLUS,PRO_PERCENT,HOLIDAY_NEW,HOLIDAY_LABEL_EN,PROMOTION_NEW
QTY,0.112267,0.028931,0.289766,1.000000,-0.537230,0.700195,0.505932,0.505932,0.612451
HCLUS,-0.071586,0.028593,-0.339943,-0.537230,1.000000,-0.545619,-0.974601,-0.974601,-0.374072
PRO_PERCENT,0.404889,0.321193,0.329705,0.700195,-0.545619,1.000000,0.487062,0.487062,0.898554
HOLIDAY_NEW,0.049867,-0.031106,0.273710,0.505932,-0.974601,0.487062,1.000000,1.000000,0.365148
HOLIDAY_LABEL_EN,0.049867,-0.031106,0.273710,0.505932,-0.974601,0.487062,1.000000,1.000000,0.365148
PROMOTION_NEW,0.205916,0.195931,0.060206,0.612451,-0.374072,0.898554,0.365148,0.365148,1.000000

In [26]:
features = list( corrDf.loc[ ( abs( corrDf.QTY ) > standardLimit ) & ( abs( corrDf.QTY ) != 1) ] )

In [27]:
features

['YEARWEEK',
 'YEAR',
 'WEEK',
 'QTY',
 'HCLUS',
 'PRO_PERCENT',
 'HOLIDAY_NEW',
 'HOLIDAY_LABEL_EN',
 'PROMOTION_NEW']

In [28]:
features = list( corrDf.loc[ ( abs( corrDf.QTY ) > standardLimit ) & ( abs( corrDf.QTY ) != 1) ].index )

In [29]:
## 이러한 특징들과 qty 와의 상관관계를 분석(0.5~1미만인 경우만)
features

['HCLUS', 'PRO_PERCENT', 'HOLIDAY_NEW', 'HOLIDAY_LABEL_EN', 'PROMOTION_NEW']

In [30]:
## 답지
label = ["QTY"]

In [31]:
## featuresData.drop(columns=["PROMO_DU_Y","PROMO_DU_N"], inplace=True)

### 1-2-2. 데이터 분리

In [32]:
# 105개의 행 14개의 컬럼 존재
featuresData.shape

(105, 16)

In [33]:
sortKey = ["REGIONID", "ITEM", "YEARWEEK"]

In [34]:
sortedData = featuresData.sort_values(sortKey, ignore_index=True)

In [35]:
sortedData

,REGIONID,PRODUCTGROUP,PRODUCT,ITEM,YEARWEEK,YEAR,WEEK,QTY,HOLIDAY,HCLUS,PROMOTION,PRO_PERCENT,HOLIDAY_NEW,HOLIDAY_LABEL_EN,HOLIDAY_DE,PROMOTION_NEW
0,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201501,2015,1,1225.0,Y,1,Y,0.209442,1,1,Y,1
1,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201502,2015,2,968.0,N,4,Y,0.209442,0,0,N,1
2,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201503,2015,3,1209.0,N,4,Y,0.208155,0,0,N,1
3,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201504,2015,4,1810.0,Y,2,Y,0.208155,1,1,Y,1
4,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201505,2015,5,1773.0,N,4,Y,0.208155,0,0,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201648,2016,48,2412.0,Y,0,Y,0.421888,1,1,Y,1
101,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201649,2016,49,1955.0,N,4,Y,0.421888,0,0,N,1
102,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201650,2016,50,1800.0,N,4,Y,0.352361,0,0,N,1
103,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201651,2016,51,1173.0,N,4,Y,0.352361,0,0,N,1
104,SEOUL_BANK_001,PG02,PRODUCT0010,ITEM0115,201652,2016,52,332.0,Y,1,Y,0.352361,1,1,Y,1

In [36]:
## 8 : 2 로 설정. 8은 과거. 2는 예측
standardWeek = 0.8

In [37]:
sortedData.shape[0]

105

In [38]:
sortedData.shape[0] * standardWeek

84.0

In [39]:
list(sortedData.shape)[0] * standardWeek

84.0

In [41]:
## 정렬하고 80%에 있는 인덱스의 번호로 분리시킨다.
selectedIndex = int( list(sortedData.shape)[0] * standardWeek )

In [42]:
selectedIndex

84

In [43]:
yearweekStd = sortedData.loc[selectedIndex].YEARWEEK

In [44]:
yearweekStd ## 80퍼센트 기준.

201632

In [45]:
 ## 훈련데이터와 테스트데이터를 문제지와 정답지로 구분해서 정의한다.
trainingData_features = \
    featuresData.loc[featuresData.YEARWEEK <= yearweekStd][features] ## 과거 훈련정보
trainingData_label = \
    featuresData.loc[featuresData.YEARWEEK <= yearweekStd][label] ## 과거 정답정보
# 테스트 데이터
testData_features = \
    featuresData.loc[featuresData.YEARWEEK > yearweekStd][features] ## 20퍼센트 훈련정보
testData_label = \
    featuresData.loc[featuresData.YEARWEEK > yearweekStd] ## 위의 두 데이터를 바탕으로 훈련. 20퍼센트 훈련정보를 바탕으로 해당 줄 결과.

In [46]:
trainingData_features

    HCLUS  PRO_PERCENT  HOLIDAY_NEW  HOLIDAY_LABEL_EN  PROMOTION_NEW
0       1     0.209442            1                 1              1
1       4     0.209442            0                 0              1
2       4     0.208155            0                 0              1
3       2     0.208155            1                 1              1
4       4     0.208155            0                 0              1
..    ...          ...          ...               ...            ...
80      1     0.308584            1                 1              1
81      1     0.308584            1                 1              1
82      4     0.280258            0                 0              1
83      4     0.280258            0                 0              1
84      4     0.280258            0                 0              1

[85 rows x 5 columns]

In [47]:
trainingData_features

    HCLUS  PRO_PERCENT  HOLIDAY_NEW  HOLIDAY_LABEL_EN  PROMOTION_NEW
0       1     0.209442            1                 1              1
1       4     0.209442            0                 0              1
2       4     0.208155            0                 0              1
3       2     0.208155            1                 1              1
4       4     0.208155            0                 0              1
..    ...          ...          ...               ...            ...
80      1     0.308584            1                 1              1
81      1     0.308584            1                 1              1
82      4     0.280258            0                 0              1
83      4     0.280258            0                 0              1
84      4     0.280258            0                 0              1

[85 rows x 5 columns]

## 2. 모델 적용

### 2-1-1 학습

In [48]:
## 하이퍼 파라미터 튜닝. random_state를 고정시켜놓으면 랜덤속성이 고정됨으로써 항상 같은 값이 나온다.
model_dt = DecisionTreeRegressor(random_state=10)
# model_rf = RandomForestRegressor(random_state=10)

In [49]:
model_dt.fit(X=trainingData_features, y=trainingData_label) ## 문제지와 정답지..
#model_rf.fit(X=trainingData_features, y=trainingData_label)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=10, splitter='best')

## 3. 예측

In [50]:
predictValueDt = model_dt.predict(trainingData_features)
# predictValueRf = model_rf.predict(trainingData_features)

In [51]:
predictValueDt

array([1305.75      ,  900.5       , 1009.66666667, 1810.        ,
       1009.66666667, 1009.66666667, 1009.66666667,  970.        ,
       1009.66666667,  350.71428571, 1009.66666667, 1009.66666667,
       1009.66666667, 1009.66666667,  350.71428571,  350.71428571,
        350.71428571,  350.71428571,  350.71428571, 1305.75      ,
       1305.75      , 1305.75      ,  900.5       ,  350.71428571,
        337.        , 2620.42857143, 2620.42857143, 2620.42857143,
       2620.42857143,  350.71428571,  350.71428571,  350.71428571,
        350.71428571,  350.71428571, 1551.83333333, 1551.83333333,
       1551.83333333, 1013.        ,  350.71428571,  350.71428571,
        900.5       ,  862.        ,  900.5       ,  350.71428571,
       2193.8       , 2193.8       , 2193.8       , 2193.8       ,
       2193.8       ,  350.71428571, 1013.        , 1551.83333333,
       1551.83333333, 1013.        ,  350.71428571,   15.        ,
       1013.        , 1013.        , 1013.        , 1551.83333333,
       1013.        ,  350.71428571,  900.5       ,  900.5       ,
        900.5       ,  900.5       ,  900.5       ,  900.5       ,
        900.5       ,  900.5       ,  350.71428571,  350.71428571,
       2620.42857143, 2620.42857143, 2620.42857143, 1708.75      ,
        350.71428571, 1434.6       , 1434.6       , 1434.6       ,
       1434.6       , 1434.6       , 1708.75      , 1708.75      ,
       1708.75      ])

In [52]:
## 리스트를 데이터프레임으로 감싸면 한 컬럼으로 된다.
predictDtDf = pd.DataFrame(list(predictValueDt), columns=["PREDICTdt"])

In [39]:
#predictRfDf = pd.DataFrame(list(predictValueRf), columns=["PREDICTrf"])

In [53]:
predictDtDf

      PREDICTdt
0   1305.750000
1    900.500000
2   1009.666667
3   1810.000000
4   1009.666667
..          ...
80  1434.600000
81  1434.600000
82  1708.750000
83  1708.750000
84  1708.750000

[85 rows x 1 columns]

In [75]:
predictRfDf

      PREDICTrf
0   1301.607333
1    912.394992
2    994.121511
3   1449.533915
4    994.121511
..          ...
80  1409.048303
81  1409.048303
82  1731.856825
83  1731.856825
84  1731.856825

[85 rows x 1 columns]

## 4. 데이터 정리

In [54]:
predictDtDf = pd.DataFrame(list(predictValueDt), columns=["PREDICTdt"])
#predictRfDf = pd.DataFrame(list(predictValueRf), columns=["PREDICTrf"])

In [55]:
## 정답지와 비교........ ...과거의 답과                            훈련데이터   훈련데이터
validateDf = pd.concat( [testData_label.reset_index(drop=True), predictDtDf], axis=1)

In [56]:
selectedDf = validateDf.loc[:, ["QTY", "PREDICTdt"]]

In [57]:
selectedDf

       QTY    PREDICTdt
0     43.0  1305.750000
1   1700.0   900.500000
2   1514.0  1009.666667
3   1501.0  1810.000000
4   1491.0  1009.666667
..     ...          ...
80     NaN  1434.600000
81     NaN  1434.600000
82     NaN  1708.750000
83     NaN  1708.750000
84     NaN  1708.750000

[85 rows x 2 columns]

## 5. 정확도 검증

In [58]:
# MAE 지표
DtMae = mean_absolute_error( selectedDf['QTY'], selectedDf['PREDICTdt'])  

print(DtMae)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [101]:
# RMSE 지표
DtRmse = np.sqrt(mean_squared_error(y_true = selectedDf['QTY'], 
                                   y_pred = selectedDf['PREDICT']) )

print(DtRmse)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [86]:
## 루트로 감싸기 np.sqrt
rmseDt = np.sqrt(mean_squared_error(y_true = selectedDf.QTY, y_pred=selectedDf.PREDICTdt) )
rmseRf = np.sqrt(mean_squared_error(y_true = selectedDf.QTY, y_pred=selectedDf.PREDICTrf) )

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [54]:
mae

325.21613445378154

In [55]:
rmse

446.8829210185138

In [46]:
## Automl -> 모델을 기계가 알야서 선택해 달라는 것.

SyntaxError: invalid syntax (<ipython-input-46-cd39458b3dea>, line 1)

### DecisionTree - > 과거의 경험치를 그대로 반영한다.
###                  변동성이 큰 데이터에서 강하다.. 설명력이 강하다. 

### 단점 - > 오버피팅.. 너무 과거에 얽매여 있다...

### randomforest - > decisiontree의 오버피팅 해결
### 단점 - > 설명력 낮다.

In [ ]:
RandomForestRegressor

In [65]:
model_rf = RandomForestRegressor(random_state=10)

In [75]:
model

RandomForestRegressor(random_state=10)

In [76]:
model.fit(X=trainingDataFeatures, y=trainingDataLabel)

<ipython-input-76-e373673856ed>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X=trainingDataFeatures, y=trainingDataLabel)

RandomForestRegressor(random_state=10)

In [85]:
predictValue = model.predict(testDataFeatures)
rfPredictDf = pd.DataFrame(list(predictValue), columns=["PREDICT"])

     PREDICT
0    1305.75
1    1305.75
2    1305.75
3    1305.75
4    1305.75
..       ...
438  2193.80
439  2193.80
440  2193.80
441  2193.80
442  2193.80

[443 rows x 1 columns]

In [64]:
RandomForestRegressor

sklearn.ensemble._forest.RandomForestRegressor